@model Moviesite.Entities.Movie

<div class="container">
    <h1 class="text-center">EDIT MOVIE</h1>

    <hr>

    <form asp-action="Edit">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Title">Title</label>
                <input asp-for="Title" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label asp-for="ProducerName">ProducerName</label>
                <input asp-for="ProducerName" type="text" class="form-control">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="ProducerID">ProducerID</label>
                <select asp-for="ProducerID" class="form-control" asp-items="ViewBag.ProducerID"></select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Category">Category</label>
                <input asp-for="Category" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label asp-for="CategoryID">CategoryID</label>
                @*<select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryList"></select>*@

                @Html.DropDownListFor(x => x.CategoryID, new SelectList(ViewBag.CategoryList, "Value", "Text"),
                    htmlAttributes: new { @class = "form-control", id = "CategoryID" })

            </div>
        </div>

        <div class="form-row">

            <div class="form-group col-md-3">
                <label asp-for="Price">Price</label>
                <input asp-for="Price" class="form-control">
            </div>
            <div class="form-group col-md-3">
                <div class="form-group col-md-4">
                    <label asp-for="FormatType">FormatType</label>
                    <input asp-for="FormatType" class="form-control">
                </div>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Genre">Genre</label>
                <input asp-for="Genre" class="form-control">
            </div>
            <div class="form-group col-md-3">
                <label asp-for="Duration">Duration</label>
                <input asp-for="Duration" class="form-control">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="Description">Description</label>
                <input asp-for="Description" class="form-control">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Language">Language</label>
                <input asp-for="Language" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Country">Country</label>
                <input asp-for="Country" class="form-control">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Shipping">Shipping</label>
                <input asp-for="Shipping" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label asp-for="SoldItems">SoldItems</label>
                <input asp-for="SoldItems" class="form-control">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="PhotoURL">PhotoURL</label>
                <input asp-for="PhotoURL" class="form-control">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Rating">Rating</label>
                <input asp-for="Rating" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label asp-for="DateAdded">DateAdded</label>
                <input asp-for="DateAdded" class="form-control">
            </div>
        </div>

        <div class="form-row">
            <div class="btn-group col-12 mt-4">
                <input class="btn-primary btn" type="submit" name="Edit" value="Edit" />
            </div>
        </div>

    </form>

    <div class="mt-3">
        <a asp-action="Index">Back to list</a>
    </div>
</div>
