@model Moviesite.Entities.Movie

<div class="container">
    <h1 class="text-center">EDIT MOVIE</h1>

    <hr>

    <form asp-action="Edit">

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Title"></label>
                <input asp-for="Title" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label asp-for="ProducerName"></label>
                <input asp-for="ProducerName" type="text" class="form-control">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="ProducerID"></label>
                <select asp-for="ProducerID" class="form-control" asp-items="ViewBag.ProducerList"></select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="DirectorName"></label>
                <input asp-for="DirectorName" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label asp-for="DirectorID"></label>
                <select asp-for="DirectorID" class="form-control" asp-items="ViewBag.DirectorList"></select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="ReleaseDate"></label>
                <input asp-for="ReleaseDate" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Duration"></label>
                <input asp-for="Duration" class="form-control">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="GenreName"></label>
                <input asp-for="GenreName" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label asp-for="GenreID"></label>
                <select asp-for="GenreID" class="form-control" asp-items="ViewBag.GenreList"></select>
                @*@Html.DropDownListFor(x => x.GenreID, new SelectList(ViewBag.GenreList,"Value","Text"),
                    htmlAttributes: new { @class="form-control", id="GenreID" })*@
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label asp-for="FormatType"></label>
                <input asp-for="FormatType" class="form-control">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Language"></label>
                <input asp-for="Language" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Country"></label>
                <input asp-for="Country" class="form-control">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Shipping"></label>
                <input asp-for="Shipping" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label asp-for="SoldItems"></label>
                <input asp-for="SoldItems" class="form-control">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <label asp-for="PhotoURL"></label>
                <input asp-for="PhotoURL" class="form-control">
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Rating"></label>
                <input asp-for="Rating" class="form-control">
            </div>
            <div class="form-group col-md-6">
                <label asp-for="DateAdded"></label>
                <input asp-for="DateAdded" class="form-control">
            </div>
        </div>

        <div class="form-row">
            <div class="btn-group col-12 mt-4">
                <input class="btn-primary btn" type="submit" name="Edit" value="Edit" />
            </div>
        </div>

    </form>

    <div class="mt-3">
        <a asp-action="Index">Back to list</a>
    </div>
</div>
